<!-- Para enviar mensaje con @input padre a hijo -->
<!-- <app-view-child [message]="title"></app-view-child> -->

<!-- Para enviar mensaje con @output hijo a padre -->
<!-- <app-view-child (output)='mostrarNumero($event)'></app-view-child>
<p>
  Mensaje desde el hijo:  {{ text }}
</p> -->

<!-- Para observable -->
<!-- <app-observable name="{{ name }}"></app-observable>
<p>
  Wait 2 seconds to see some magic happen :)
</p>

<div *ngFor='let item of users'>
    {{item.name}}
</div>
 -->

<!-- Para promesa -->
<!-- <app-promesa name="{{ nameApp }}"></app-promesa>
<p> Que buen ejemplo.......... </p> -->

<!-- Para eventEmitter -->
<!-- <div class="app">
  Parent: {{ micontador }}
  <app-event-emitter [contador]="micontador"
    (cambio)="cambiarContador($event)">
  </app-event-emitter>
</div> -->

<!-- Para Store -->
 <app-my-counter></app-my-counter>
